DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USERNAME=bluetile
DATABASE_PASSWORD=bluetile
REDIS_URL=redis://localhost:6379/0
VPNAPI_KEY=your_vpnapi_key_here
VPNAPI_CACHE_TTL=86400
VPNAPI_TIMEOUT_MS=5000
